<div class="row">
    {% for field in form %}
    {% for error in field.errors %}
    <p class="red-text">{{ error }}</p>
    {% endfor %}
    {% endfor %}


    <div class="col m10 offset-m1 s12 grey lighten-4">
        <span>Level Focus</span>
        <div class="row">
            <div class="col m4  s12 ">
                <div class="card" id="slot1_card">
                    <div class="card-content">
                        <span class="card-title">slot1</span>
                    </div>
                </div>
            </div>
            <div class="col m4  s12">
                <div class="card" id="slot2_card"">
                    <div class="card-content">
                        <span class="card-title">slot2</span>
                    </div>
                </div>
            </div>
            <div class="col m4  s12">
                <div class="card" id="slot3_card">
                    <div class="card-content">
                        <span class="card-title">slot3</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    {% for user_aspect in profile.user_aspects %}
    <div class="col s12 m4">
        <div class="card {{user_aspect.aspect.color}} clickable">
            <div class="card-content">
                <span class="card-title">{{user_aspect.aspect.name}}</span>
                <p>{{user_aspect.aspect.description}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<br>
<form action="" method="post">
    {% csrf_token %}
    {% for field in form %}
    {{field.as_hidden }}
    {% endfor %}
    <br>
    <div class="center">
        <a id="clear-button" class="btn-large waves-effect waves-light purple">
            Clear
        </a>
        <button type="submit" class="btn-large waves-effect waves-light purple center">
            Complete
        </button>
    </div>
</form>



<script>
 $( document ).ready(function() {
     var i = 0;
     $('.clickable').click(function() {
         i += 1;
         $('.clickable').removeClass("darken-2");
         var color = $(this).attr('class').split(' ')[1];
         //darken for click
         $(this).addClass("darken-2");

         var title = $(this).find('.card-title').text();

         $('#slot'+i+'_card').removeClass();
         $('#slot'+i+'_card').addClass('card');
         $('#slot'+i+'_card').find(".card-title").text(title);
         $('#slot'+i+'_card').addClass(color);
         $('#id_slot'+i).val(title);
     });
     $('#clear-button').click(function() {
         i = 0;
         for( var j=1; j<=3; j++){
             $('#slot'+j+'_card').find(".card-title").text('slot'+j);
             $('#slot'+j+'_card').removeClass();
             $('#slot'+j+'_card').addClass('card');
             $('#id_slot'+j).val('');
         }
     });
 });
</script>
