{% extends 'base.html' %}

{% block title %} Create Profile {% endblock %}

{% block content %}
<div class="container">
    <h3>Create Profile</h3>
    
    {% load component_tags %}
    {% help_box title='A Quick Quiz' content='To create your profile answer each question below. <br> Your answers will determine where you start on your quest and what path you will pursue.' %}
    <br>

<form action="" method="post">
    {% csrf_token %}
    {% for error in form.non_field_errors %}
    <p class="red-text">{{ error }}</p>
    {% endfor %}
    <table class="bordered">
        <tr>
            <th></th>
            <th></th>
            <th>Never</th>
            <th>Rarely</th>
            <th>Sometimes</th>
            <th>Often</th>
            <th>Always</th>
        </tr>

    {% for field in form %}
        <tr>
            <td><p>{{ field.label }}</p>
                {% for error in field.errors %}
                    <p class="red-text">{{ error }}</p>
                {% endfor %}
            </td>
            <td>  &nbsp;&nbsp; </td>
            {% for value, text in field.field.choices %}
            <td class="center">
                <input name="{{field.name}}" type="radio" value="{{value}}" id="{{field.name}}{{text}}">
                <label for="{{field.name}}{{text}}"></label>
            </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
    <br><br>
    <div class="center">
    <button type="submit" class="btn-large waves-effect waves-light purple center">
        Begin
    </button>
    </div>

</form>
<div>
{% endblock %}
