{% extends 'base.html' %}

{% block title %}Missions{% endblock %}

{% block content %}
<div class="container">
    <h3>Daily Missions</h3>
    {% load component_tags %}
    {% help_box title='' content='You still need to do a mission today' %}
    <div class="row">
        {% load component_tags %}
        <div class="col s12">
            <ul class="collapsible" data-collapsible="accordion">
            {% for rec in recs %}
            {% autoescape off %}
                <li>
                    <div class="collapsible-header">
                       <h5> {{rec.mission.title}} <h5>
                    </div>
                    <div class="collapsible-body"><span>
                        {{rec.mission.content}}
                        <br>
                        <div class="center">
                            <a href="/mission-review?id={{mission.id}}">Mark as Complete</a>
                        </div>
                    </span></div>
                </li>
            {% endautoescape %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
</div>

{% endblock %}
