{% extends 'base.html' %}

{% block title %}Missions{% endblock %}

{% block content %}
<div class="container">
    <h3>Daily Missions</h3>
    <p> You still need to do a mission today</p>
    <div class="row">
        {% load component_tags %}
        {% for mission in missions %}
        {% autoescape off %}
        <div class="col s12">
            <div class="card ">
                <div class="card-stacked">
                    <div class="card-content">
                        <span class="card-title">
                            {{mission.title}}
                        </span>
                        <p>
                            {{mission.content}}
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="/mission-review?id={{mission.id}}">Mark as Complete</a>
                    </div>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:2 %}
    </div>
    <div class="row">
        {% endif %}
        {% endautoescape %}
        {% endfor %}
    </div>
</div>
</div>

{% endblock %}
