{% extends 'base.html' %}

{% block title %}Tutorial{% endblock %}

{% block content %}
<div class="container">
    <h3>Tutorial</h3>
    <br>
    {% load component_tags %}
    {% help_box title='Welcome to Life-Quest' content='Your goal is to level up and improve your life by completing missions.' %}
    <br>
    {% help_box title='Hearts and XP' content='Missions give you XP and you level up once your XP bar is full. Hearts are a multiplier for your XP. If you have 3 hearts you gain 3x XP per mission. If you have 0 Hearts you gain 0 XP. Every day you skip a mission you lose a heart. You can regain a heart by completing 7 days of missions.' %}
    {% level_bar %}
    {% hearts %}
    <br><br>
    {% help_box title='Level Focus' content='Each time you level up you choose up to 3 aspects to focus on. These aspects will determine what sort of missions you see on your mission screen.' %}
    {% focus %}
    <br>
    {% help_box title='Stats' content='Upon completing each level you will gain points for each aspect you chose to focus on. They will be added to your overall stats which are below.' %}
    {% stats %}
    <br>
    {% help_box title='Good Luck!' content='' %}






</div>

{% endblock %}
